<h2>My Events</h2>


{{#each events as |event|}}
<div class="event-container">
    <div class="event-card mb-2" backgroundImage:`url(${{{event.image_url}}})>
        <h4 class="">{{event.name}}</h4>
        <p>{{event.description}}</p>
        <hr>
        <p class="mb-0">Location: {{event.location}}</p>
        <p class="mb-0">Date: {{event.date}}</p>
        <p class="mb-0">Time: {{event.time}}</p>

        {{!-- create event modal --}}
        {{!-- <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">New Event</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fas fa-user prefix grey-text"></i>
                            <input type="text" id="eventName" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="form34">Event Name</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="text" id="eventDate" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="form29">Date YYYY/MM/DD</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fas fa-tag prefix grey-text"></i>
                            <input type="text" id="eventTime" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="form32">Time HH:MM</label>
                        </div>
                        <div class="md-form mb-5">
                            <label for="location">Location Selection</label>
                            <br>
                            <br>
                            <select name="location" id="location">
                                <option value="New-York">New York</option>
                                <option value="Los-Angeles">Los Angeles</option>
                                <option value="Chicago">Chicago</option>
                                <option value="Houston">Houston</option>
                                <option value="Phoenix">Phoenix</option>
                                <option value="Philadelphia">Philadelphia</option>
                                <option value="San-Antonio">San Antonio</option>
                                <option value="San-Diego">San Diego</option>
                                <option value="San-Jose">San Jose</option>
                            </select>
                        </div>
                        <div class="md-form mb-5">
                            <label for="categories">Categories</label>
                            <br>
                            <br>
                            <select name="categories" id="categories">
                                <option value="Clean-up">Clean-up</option>
                                <option value="Protest">Protest</option>
                                <option value="Fundriaser">Fundraiser</option>
                            </select>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-pencil prefix grey-text"></i>
                            <textarea type="text" id="eventDescription" class="md-textarea form-control"
                                rows="4"></textarea>
                            <label data-error="wrong" data-success="right" for="form8">Event Description</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-unique" id="edit">Edit Event<i
                                class="fas fa-paper-plane-o ml-1"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <a class="nav-text nav-link text-primary" id="editbtn" href="/" data-toggle="modal"
            data-target="#modalContactForm">Edit
            Event<span class="sr-only">(current)</span></a> --}}



        <button type="button" class="btn btn-danger delete" id="delete" data-id="{{event.id}}">Delete</button>
        <br>
    </div>
    {{/each}}

    <h2>RSVP Events</h2>

    {{#each rsvp as |event|}}
    <div class="event-container">
        <div class="event-card mb-2" backgroundImage:`url(${{{event.image_url}}})>
            <h4 class="">{{rsvp.name}}</h4>
            <p>{{event.description}}</p>
            <hr>
            <p class="mb-0">Location: {{event.location}}</p>
            <p class="mb-0">Date: {{event.date}}</p>
            <p class="mb-0">Time: {{event.time}}</p>
            <p class="mb-0">Created by: {{user.username}}</p>
            <br>
        </div>
        {{/each}}

        <script src="js/dashboard.js"></script>