{{!-- Category filter --}}
<br>
<label for="eventFilter">Filter By</label>
<select name="eventFilter" id="eventFilter">
    <option value="Clean-up">Clean-up</option>
    <option value="Protest">Protest</option>
    <option value="Fundraiser">Fundraiser</option>
</select>
<br>
<br>

<!-- Loop over each object in the projects array -->
{{#each events as |event|}}
<div class="event-container">
    <div class="event-card mb-2">
        <img backgroundImage:`url(${{{event.image_url}}})`>
        <h4 class="">{{event.name}}</h4>
        <p>{{event.description}}</p>
        <hr>
        <p class="mb-0">Location: {{event.location}}</p>
        <p class="mb-0">Date: {{event.date}}</p>
        <p class="mb-0">Time: {{event.time}}</p>
        <p class="mb-0">Created by: {{user.username}}</p>
        <br>
    </div>
</div>
{{/each}}